<!doctype html>
<html lang="de">
    {% include "./header.njk" %}

<body>
<div class="wrapper">
        {% include "./sidebar.njk" %}
    <div id="content">
        {% include "./navButton.njk" %}
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
