        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="text-center">Edward 40Hands</h3>
            </div>

            <ul class="list-unstyled components">
                <p>The real league, the real fight!</p>

                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Die Spieler</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/benni">Benni</a>
                        </li>
                        <li>
                            <a href="/bene">Bene</a>
                        </li>
                        <li>
                            <a href="/jonas">Jonas</a>
                        </li>
                        <li>
                            <a href="/matthias">Matthias</a>
                        </li>
                        <li>
                            <a href="/tobi">Tobi</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/overview">Tabelle</a>
                </li>
                <li>
                    <a href="rules">Die Regeln</a>
                </li>
                <li>
                    <a href="trophy">Der Pokal</a>
                </li>
                <li>
                    <a href="game-history">Spielhistorie</a>
                </li>
                <li>
                    <a href="impressum">Impressum</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="/game" class="fight-button">Neue Runde!</a>
                </li>
            </ul>

        </nav>
