{% extends "templates/parent.njk" %}

{% block content %}
<h1 id="matchTitle" class="text-center"> Wähle alle Mitspieler aus</h1>

<!-- the stopwatch -->
<div = "container text-center">
    <div class="stopwatch">
        <span id="hours"> </span><span id="minutes"> </span><span id="seconds"> </span><span id="milliseconds" class="stopwatch-small"> </span>
    </div>
</div>

<!-- start button -->
<div class="container text-center">
    <a href="#" class="btn btn-success btn-lg mr-5" onClick="GLOB.start();">Start</a>
    <a href="#" class="btn btn-light" onClick="GLOB.reset();">Reset</a>
</div>

<hr>

<div id="players" class="d-flex flex-wrap align-items-start">
    <!-- Is filled automatically -->

    <!-- Add player -->
    <img id="addPlayerButton" class="btn-light icon-plus m-3 border-right border-bottom" src="/icons/svg/plus.svg" alt="Plus symbol" onClick="GLOB.addPlayer();">


</div>

<script src="js/game.js"></script>
{% endblock %}
