{% extends "templates/parent.njk" %}

{% block content %}
<div class="table-responsive">
    <table id="tableGameHistory" class="table table-hover">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col">Datum</th>
            <th scope="col">1. Spieler vs 2. Spieler</th>
            <th scope="col">Sieger</th>
            <th scope="col">Zeit</th>
            <th scope="col">Strafbiere</th>
            <th scope="col">Entfernen</th>
            <!-- <th scope="col">Zeit: 1. Spieler - 2. Spieler</th> -->
            <!-- <th scope="col">Strafbier: 1. Spieler - 2. Spieler</th> -->
        </tr>
    </thead>
    <tbody>
    <!-- Will be filled automatically -->
    </tbody>
    </table>
</div>

<script src="js/game_history.js"></script>
{% endblock %}
