{% extends "templates/parent.njk" %}

{% block content %}
<div class="table-responsive">
    <table id="tableLeague" class="table table-hover">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col">Bild</th>
            <th scope="col">Name</th>
            <th scope="col">Punkte</th>
            <th scope="col">Anzahl Spiele</th>
            <th scope="col">Gesamtzeit</th>
            <th scope="col">Durchschnittszeit</th>
        </tr>
    </thead>
    <tbody>
    <!-- Will be filled automatically -->
    </tbody>
    </table>
</div>

<script src="js/overview.js"></script>
{% endblock %}
