{% extends "templates/parent.njk" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between">
        <div></div>
        <div></div>
        <div>
            <img id="playerIcon" alt="{{ name }}" height="256" width="256">
            <form id="formUpdateImage" action="" method="post" enctype="multipart/form-data">
                <input type="hidden" id="formPlayerName" name="playerName" value="{{ name }}">
                    <label class="btn btn-light">
                        Datei wählen:
                        <span id="uploaded-file-name" style="font-style: italic"></span>
                        <input type="file" id="formImageAddress" name="image" onchange="$('#uploaded-file-name').text($('#formImageAddress')[0].value);" hidden>
                    </label>
                <input class="btn btn-light" type="submit" value="Bild Ändern">
            </form>
        </div >
        <div class="d-flex flex-column justify-content-between pl-5">
            <div>
                <h3>{{ name | capitalize }}</h3>
                <hr>
            </div>
            <!-- TODO -->
            <!-- <div id="players" class="d-flex flex-wrap align-items-start"> -->
            <!--     <span>Platz:</span> -->
            <!--     <span id="place" class="font-weight-bold ml-2"></span> -->
            <!-- </div> -->
            <div id="players" class="d-flex flex-wrap align-items-start">
                <span>Punkte:</span>
                <span id="points" class="font-weight-bold ml-2"></span>
            </div>
            <div id="players" class="d-flex flex-wrap align-items-start">
                <span>Gesamtzahl Spiele:</span>
                <span id="totalGames" class="font-weight-bold ml-2"></span>
            </div>
            <div id="players" class="d-flex flex-wrap align-items-start">
                <span>Gesamtzahl Strafbiere:</span>
                <span id="extraBeers" class="font-weight-bold ml-2"></span>
            </div>
            <div id="players" class="d-flex flex-wrap align-items-start pb-5">
                <span>Durchschnittszeit:</span>
                <span id="averageTime" class="font-weight-bold ml-2"></span>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<h2 class="my-5"> Spiele </h2>

<div class="table-responsive">
    <table id="tableGames" class="table table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col">Gegen</th>
            <th scope="col">Sieger</th>
            <th scope="col">Zeit: Gegner - Eigene</th>
            <th scope="col">Strafbier: Gegner - Eigene</th>
            <th scope="col">Datum</th>
        </tr>
    </thead>
    <tbody>
    <!-- Will be filled automatically -->
    </tbody>
    </table>
</div>

<script src="js/player.js"></script>
{% endblock %}
