{% extends "templates/parent.njk" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-7">
            <h4>Allgemeines</h4>
            <p><b>Edward Fortyhands</b> (wörtl. engl. Eduard Vierzighand, sinngemäß etwa <b>Edward mit den Flaschenhänden</b>) ist ein Trinkspiel aus den USA, bei dem sich jeder Mitspieler zwei 1-Liter Flaschen Alkohol (gewöhnlich Starkbier) mit Klebeband an den Händen befestigt. Diese darf er erst abnehmen, wenn sie leer sind.</p>

            <p>Der Name bezieht sich auf den Film <a href="https://www.youtube.com/watch?v=DLzxrzFCyOs" target="_blank">Edward mit den Scherenhänden.</a></p>
        </div>
        <div class="col-5">
            <img id="wikiImage" src="/images/wiki_image.jpg" alt="Jemand der Edward Fortyhands spielt">
        </div>
    </div>

        <h4 class="mt-3">Die Spielregeln</h4>
        <p>Jeder Spieler hat eine 1-Liter-Flasche Starkbier mit Klebeband an jeder Hand befestigt. Er darf seine Hände erst dann wieder verwenden, wenn die Flaschen ausgetrunken wurden.</p>

        <p>Es entstehen besondere Schwierigkeiten, weil die Spieler für gewöhnlich die Hände benötigen, um z. B. einen Anruf entgegenzunehmen oder zur Toilette zu gehen. Daher sind die Spieler meist darauf bedacht, die Flaschen so schnell wie möglich zu leeren, damit sie ihre Hände wieder benutzen können. Es ist den Spielern natürlich frei gestellt jemanden zu finden, der ihnen hilft dieser Aktivitäten nachzugehen.</p>

        <h4 class="mt-3">Das Punktesystem</h4>
        <p>Es werden immer Spiele zwischen zwei Leuten gemacht, nehmen mehr als zwei Leute an einer Runde teil, wird es als mehrere Spiele, jeder gegen jeden angesehen. Zum Beispiel, wenn Benni, Bene und Matthias eine Runde spielen, wird es eigentlich als einzelne Spiele Benni gegen Bene, Benni gegen Matthias und Bene gegen Matthias angesehen.
        </p>
        <p>Gewinnt man eine Runde erhält man einen Punkt. Verliert man eine Runde, verliert man einen Punkt. Dadurch ist es möglich in einer Saison mehrmals gegen den selben Spieler zu spielen. Die Gesamtpunktebilanz bleibt immer bei Null, deshalb kann man durch wiederholte Spiele mit dem selben Gegenspieler keinen Punktevorteil bekommt.
        </p>
        <p>Bei einem Unentschieden in der Gesamtpunktzahl gewinnt der Spieler mit der kürzeren Durchschnittszeit.</p>
<!-- <script src="js/rules.js"></script> -->
{% endblock %}
