{% extends "templates/parent.njk" %}

{% block content %}

<div class="container text-center">
    <img id="trophyImage" src="/images/pokal.jpg" alt="Der Pokal">
</div>
<!-- <script src="js/trophy.js"></script> -->
{% endblock %}
